{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  
    <link href="{% static 'authen/style.css' %}" rel="stylesheet">
   
</head>

<body>
  
  
    <section class="breadcump">
        <div class="pledge-container">
            <h2 class="pl">Take A Pledge</h2>
            <p class="pl"><a href="">Home</a> / Take a Pledge</p>
        </div>

    </section><br><br>

    <section class="about-page">

        <div class="mainPledge">

            <h2 style="text-align: center;color: rgb(235, 88, 88);font-size:xx-large;">शपथ/Oath</h2><br>
            <h3 style="text-align: center;padding-top: 10px;color: rgb(137, 137, 137);">(शपथ हिंदी में)</h3>
            <p id="hindipl">आज हम एकजूट होकर नशा मुक्त भारत अभियान के तेहेत एक प्रतिज्ञा लेते हैं
                की ना केवल हमारे समुदाय, परिवार, दोस्त बाल्की खुद को नशा मुक्त बनाएंगे
                क्योंकि परिवर्तन भीतर से शुरू होता है, इसिलिए आओ मिलकर अपने भारत
                को नशा मुक्त बनाने का संकल्प ले| <br>
                मैं प्रतिज्ञा करता हूं कि मैं अपने देश को नशा मुक्त बनाने के लिए हर संभव
                प्रयास करूंगा| </p>
            <p id="hindipl"><strong>जय हिन्द !</strong></p>


            <h3 style="text-align: center;padding-top: 30px;color: rgb(137, 137, 137);">(Pledge in English)</h3>

            <p id="engpledge">Today we are united to take a pledge under the Nasha Mukt
                Bharat Abhiyaan to make not only our community, family, friends
                but ourselves drug free because change starts from within, so
                pledge together to make India Drug Free.
                I pledge that I will take all efforts in my capability to make India
                Drug-Free.</p>
            <p id="engpledge"><strong>Jai Hind!</strong></p>
        
        </div>
        
       
    </section>
    <br>
    <div class="btn">
        <a href="/authen/pcert/"><button type="button">Take a Pledge</button></a>
    </div>
  
  
  
 


    <br>
    <br>
    <br><br>
    <footer>
        <div class="container">
            <div class="one">
                <p>Copyright ©️ 2023 - All Rights Reserved - Official website of<br> Pradhan Mantri Jan Arogya Yojana
                    (PM-JAY), Government<br> of India<br>
                    Website Content Managed by - PM-JAY<br>
                    Email: webmaster-pmjay[at]nha[dot]gov[dot]in<br>
                    Postal Address : 9th Floor, Tower-l, Jeevan Bharati Building,<br>Connaught Place, New Delhi -
                    110001<br>
                    ☎ Toll-Free Call Center No - 14555<br>
                    Last Updated on: 08-02-2023</p>
            </div>
            <!-- <div class="two">
                <h3>IMPORTANT LINKS</h3>
                <hr noshade color="white" style="text-align: left;width: 15%;margin-left: 0;height: 2px;">
                <br>
                <br>
                <details>
                    <summary><a href="">Ministry of Health and Family Welfare</a></summary>
                </details>
                <hr color="white" noshade>
                <details>
                    <summary><a href="">Niti Ayog</a></summary>
                </details>
                <hr color="white" noshade>
                <details>
                    <summary><a href="">National Portal</a></summary>
                </details>
                <hr color="white" noshade>

            </div> -->
            <div class="three">
                <h3>POLICIES</h3>
                <hr noshade color="white" style="text-align: left;width: 20%;margin-left: 0;height: 2px;">
                <br>
                <br>
                <details>
                    <summary><a href="">Terms and Conditions</a></summary>
                </details>
                <hr color="white" noshade>
                <details>
                    <summary><a href="">Whistle Blower Policy</a></summary>
                </details>
                <hr color="white" noshade>
                <details>
                    <summary><a href="">Website Policy</a></summary>
                </details>
                <hr color="white" noshade>
                <details>
                    <summary><a href="">Help</a></summary>
                </details>
                <hr color="white" noshade>
                <a href="#" id="btp">Back to top</a>
                <br><br>
            </div>
            <div class="fourimg">
                <h3>APP FOR ANDROID</h3>
                <hr noshade color="white" style="text-align: left;width: 18%;margin-left: 0;height: 2px;">
                <img  src="{% static 'authen/footerpic.jpeg' %}" alt="">
                <br>
                <br>
            </div>
            


    </footer>


</body>

</html>


